<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <button id="promptNewToDo">+</button>
    <div>
        <ul>
            <% for(let toDoItem of foundToDoItem) { %>
                <li>
                    <%= toDoItem.content %>
                        <div>
                            <button class="dropDownButton">Dropdown</button>
                            <div>
                                <div class='dropDownOptions'>
                                    <form method = "POST" action="/todo/<%=toDoItem._id%>?_method=DELETE">
                                    <button>Delete</button>
                                    </form>
                                    <br>
                                    <button><a href="/todo/edit/<%=toDoItem._id%>">Edit</a></button>
                                    </form>
                                </div>
                                <br>
                            </div>
                        </div>
                </li>
                <% } %>
        </ul>
    </div>
</div>
    <form id="newToDoForm" action="/" method="POST">
        <input name="newToDo" type="text">
        <button id="submitNewToDo" type="submit" hidden>+</button>
    </form>
<%- include('partials/footer') %>
