<%- include('partials/header') %>
    <%- include('partials/sideNavbarHead') %>
        <div class="container-fluid">
            <div class="gearRow row">
                <div class="gearCol col">
                    <a href="/settings"><i class="bi-gear"></i></a>
                </div>
            </div>
            <div class="content-body">
                <div class="row pageHeader">
                    <div class="col-6">
                        <h1 class="titleHeader">Dashboard</h1>
                    </div>
                    <div class="col-5 weekCol">
                    </div>
                    <div class="col-1 layoutCol">
                        <!-- <a href="" class="gridView"><i class="bi bi-grid"></i></a>
                        <a href="" class="listView"><i class="bi bi-list"></i></a> -->
                    </div>
                </div>
                <% if(foundToDoList.length !=0) {%>
                    <div>
                        <% for(let toDoList of foundToDoList) { %>
                            <div class="row date">
                                <div class="col">
                                    <h3 class="toDoListTitleHeader">
                                        <%= toDoList.title %>
                                    </h3>
                                </div>
                            </div>
                            <div class="row toDoList">
                                <div class="col-3">
                                    <ul>
                                        <% for(let toDoItem of foundToDoItem) { %>
                                            <% if(JSON.stringify(toDoItem.toDoList)===JSON.stringify(toDoList._id)) { %>
                                                <li class='toDoItem'>
                                                    <input class="toDoItemCheckBox" type="checkbox">
                                                    <span class="toDoItemContent">
                                                        <%=toDoItem.content%>
                                                    </span>
                                                </li>
                                         <% } %>
                                    <% } %>
                                    </ul>
                                </div>
                            </div>
                     <% } %>
                <%} else { %>
                        <div>
                            <div class="row">
                                <h2 class="nothingToDisplay">No to-do lists to display.</h2>
                            </div>
                        </div>
                        <% } %>
            </div>
        </div>
        </div>
        <%- include('partials/sideNavbarFoot') %>
            <%- include('partials/footer') %>